/*Dunno*/
#start {
  overflow-y: hidden !important;
}

/*LINKS*/
a {
  position: relative !important;
  color: #000 !important;
  text-decoration: none !important;
}

a:hover {
  color: #000 !important;
  text-decoration-line: none !important;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
