<div
  id="contact"
  class="animateContact d-none"
  style="visibility: hidden; overflow-y: hidden"
>
  <div class="text-center" style="overflow-x:hidden">
    <div class="row pt-3">
      <div class="col"></div>
      <div class="col-8">
        <h1>Kontakta mig</h1>
        <a href="mailto:wilmerandersson99@gmail.com"
          ><h3>wilmerandersson99@gmail.com</h3></a
        >
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <a
              href="https://gitlab.com/WilmerAndersson"
              target="_blank"
              class="fa fa-gitlab"
            ></a>
          </div>
          <div class="col">
            <a
              href="https://www.linkedin.com/in/wilmer-andersson-094485172/"
              class="fa fa-linkedin"
              target="_blank"
            ></a>
          </div>
          <div class="col"></div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
